<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>167111007076-lp1vfello5nm3u4tnd6giin3vq1ob41r.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.167111007076-lp1vfello5nm3u4tnd6giin3vq1ob41r</string>
	<key>API_KEY</key>
	<string>AIzaSyDjKJeFb4mRINdGDgL_tgMnxu9booPvos4</string>
	<key>GCM_SENDER_ID</key>
	<string>167111007076</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sasakura.company.GoldenRetriever</string>
	<key>PROJECT_ID</key>
	<string>goldenretriever-e26c7</string>
	<key>STORAGE_BUCKET</key>
	<string>goldenretriever-e26c7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:167111007076:ios:fc8fcb9bc2554adb</string>
	<key>DATABASE_URL</key>
	<string>https://goldenretriever-e26c7.firebaseio.com</string>
</dict>
</plist>